<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="test/bootstrap.php">
         
    <testsuites>
        <testsuite name="Test Suite">
            <!-- <directory>./test/src</directory> -->
        </testsuite>=
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./test/coverage/html" />
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>

</phpunit>
