<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="testing/bootstrap.php">
         
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./testing/tests</directory>
        </testsuite>=
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/View</directory>
                <directory>./src/Controller</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./testing/coverage/html" />
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>

</phpunit>
